{% load static %}
<!doctype html>
<html lang="en">
<head>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<title>Graph</title>
	<style type="text/css"></style>
</head>

<body style="background-color: #fad4bb;">
	<div style="padding-left:50px; background-color: #79ced1" class='container-fluid d-block'>
		<div class="container-fluid">
			<div class="row border-bottom  border-success" style="padding:4px; color:rgb(15, 15, 160)">
				<h1 class="text-align: center"> TOTAL QUANTITY ORDERED </h1>
			</div>
			<div class="row border-bottom">
				<div class="col-md-8 border-right" style="padding-left:100px; color:rgb(76, 22, 177)">
					<img src={{graphlib}}>
				</div>
				<div class="col-md-4" style="color:rgb(177, 40, 22)">
					<h2> <b><i><u>Graph Description</u></i></b></h2><br>
					<h4>
						-This graph is a visual representation of the number of times each food item has been ordered from the menu by customers through our food ordering service. <br><br>
						-The food items are represented along the x-axis and the number of times they have been ordered is represented along the y-axis.<br><br>
						-This a bar graph in which different bars represent the total quantity of each item ordered.
					</h4>
				</div>
			</div>
		</div>
	</div>
</body>
</html>